<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>[[[qTox: A New Kind of Instant Messaging]]]</title>
    <meta name="description" content="[[[With the rise of government monitoring programs, qTox provides an easy to use application that allows you to connect with friends and family without anyone else listening in. While other big-name services require you to pay for features, qTox is totally free, and comes without advertising.]]]">
    <meta name="keywords" content="qtox,tox,messenger,instant messaging,secure,decentralized,friendly,github,open source,voice,calling">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="./assets/imgs/LockOnly.png">
    <link rel="shortcut icon" type="image/icon" href="./assets/imgs/favicon.ico">
    <!-- CSS -->
    <link rel="image_src" href="./assets/imgs/LockOnly.png">
    <style>
    @import url('./assets/css/custom.min.css');
    @import url('./assets/css/tuktuk.min.css');
    @import url('./assets/css/tuktuk.theme.min.css');
    @import url('./assets/css/tuktuk.icons.min.css');
    @import url('./assets/css/font-awesome.css');
    </style>
</head>

<body {{#_direction}}dir="{{_direction}}"{{/_direction}}>
        <!--[if lte IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <header class="bck light padding">
        <div class="row">
            <div class="column_2">
                <a href="."><img src="./assets/imgs/logo_head.png" alt="Logo qTox" class="logo on-left"></a>
            </div>
            <nav class="column_10 text right bold">
                <a href="#about">[[[About]]]</a>
                <a href="#features">[[[Features]]]</a>
                <a href="https://github.com/tux3/qTox/wiki">[[[Wiki]]]</a>
                <a id="help" href="https://webchat.freenode.net/#qtox">[[[Support]]]</a>
                <a href="https://github.com/qTox">[[[Source]]]</a>
                <a href="https://github.com/tux3/qTox/wiki#contributing">[[[Contribute]]]</a>
                <a href="https://github.com/tux3/qTox/tree/master/doc">[[[Documentation]]]</a>
                <a href="https://www.reddit.com/r/projecttox"><span class="fa fa-reddit-square" style="font-size: 16.5pt; margin-left:20px; margin-top: 10px; float: right;"></span></a>
                <!--<div id="langcontainer">-->
                    <div id="langbutton"><img src="assets/imgs/flags/United_States_of_America_(USA).png" alt="" class="flag"> EN</div>
                    <div id="langmenu">
                        
                        <a href="af.html"><img src="assets/imgs/flags/South_Africa.png" alt="" class="flag"><span> Afrikaan</span></a><br />
                        <a href="ar.html"><img src="assets/imgs/flags/Tunisia.png" alt="" class="flag"><span> العربية</span></a><br />
                        <a href="be.html"><img src="assets/imgs/flags/Belarus.png" alt="" class="flag"><span> Беларуская</span></a><br />
                        <a href="bg.html"><img src="assets/imgs/flags/Bulgaria.png" alt="" class="flag"><span> Български</span></a><br />
                        <a href="br.html"><img src="assets/imgs/flags/Britain.png" alt="" class="flag"><span> Brezhoneg</span></a><br />
                        <a href="ca.html"><img src="assets/imgs/flags/Catalogne.png" alt="" class="flag"><span> Català</span></a><br />
                        <a href="cs.html"><img src="assets/imgs/flags/Czech_Republic.png" alt="" class="flag"><span> Čeština</span></a><br />
                        <a href="da.html"><img src="assets/imgs/flags/Denmark.png" alt="" class="flag"><span> Dansk</span></a><br />
                        <a href="de.html"><img src="assets/imgs/flags/Germany.png" alt="" class="flag"><span> Deutsch</span></a><br />
                        <a href="el_GR.html"><img src="assets/imgs/flags/Greece.png" alt="" class="flag"><span> Ελληνικά</span></a><br />
                        <a href="en.html"><img src="assets/imgs/flags/United_States_of_America_(USA).png" alt="" class="flag"><span> English</span></a><br />
                        <a href="eo.html"><img src="assets/imgs/flags/European_Union.png" alt="" class="flag"><span> Esperanto</span></a><br />
                        <a href="es.html"><img src="assets/imgs/flags/Spain.png" alt="" class="flag"><span> Español</span></a><br />
                        <a href="et.html"><img src="assets/imgs/flags/Estonia.png" alt="" class="flag"><span> Eesti</span></a><br />
                        <a href="fa.html"><img src="assets/imgs/flags/Iran.png" alt="" class="flag"><span> فارسی</span></a><br />
                        <a href="fi.html"><img src="assets/imgs/flags/Finland.png" alt="" class="flag"><span> Suomi</span></a><br />
                        <a href="fr.html"><img src="assets/imgs/flags/France.png" alt="" class="flag"><span> Français</span></a><br />
                        <a href="gl.html"><img src="assets/imgs/flags/Galicia.png" alt="" class="flag"><span> Galego</span></a><br />
                        <a href="he.html"><img src="assets/imgs/flags/Israel.png" alt="" class="flag"><span> עברית</span></a><br />
                        <a href="hr.html"><img src="assets/imgs/flags/Croatia.png" alt="" class="flag"><span> Hrvatski</span></a><br />
                        <a href="hu.html"><img src="assets/imgs/flags/Hungary.png" alt="" class="flag"><span> Magyar</span></a><br />
                        <a href="id.html"><img src="assets/imgs/flags/Indonesia.png" alt="" class="flag"><span> Bahasa Indonesia</span></a><br />
                        <a href="it.html"><img src="assets/imgs/flags/Italy.png" alt="" class="flag"><span> Italiano</span></a><br />
                        <a href="ja.html"><img src="assets/imgs/flags/Japan.png" alt="" class="flag"><span> 日本語</span></a><br />
                        <a href="ka.html"><img src="assets/imgs/flags/Georgia.png" alt="" class="flag"><span> ქართული</span></a><br />
                        <a href="ko.html"><img src="assets/imgs/flags/South_Korea.png" alt="" class="flag"><span> 한국어</span></a><br />
                        <a href="la.html"><img src="assets/imgs/flags/Serbia(Yugoslavia).png" alt="" class="flag"><span> Srpski (latinica)</span></a><br />
                        <a href="lt.html"><img src="assets/imgs/flags/LIthuania.png" alt="" class="flag"><span> Lietuvių</span></a><br />
                        <a href="nb_NO.html"><img src="assets/imgs/flags/Norway.png" alt="" class="flag"><span> Norsk Bokmål</span></a><br />
                        <a href="ne.html"><img src="assets/imgs/flags/Nepal.png" alt="" class="flag"><span> नेपाली</span></a><br />
                        <a href="nl.html"><img src="assets/imgs/flags/Netherlands.png" alt="" class="flag"><span> Nederlands</span></a><br />
                        <a href="nn_NO.html"><img src="assets/imgs/flags/Norway.png" alt="" class="flag"><span> Norsk Nynorsk</span></a><br />
                        <a href="pl.html"><img src="assets/imgs/flags/Poland.png" alt="" class="flag"><span> Polski</span></a><br />
                        <a href="pr.html"><img src="assets/imgs/flags/Pirate.png" alt="" class="flag"><span> Pirate</span></a><br />
                        <a href="pt_BR.html"><img src="assets/imgs/flags/Brazil.png" alt="" class="flag"><span> Português (Brasil)</span></a><br />
                        <a href="pt_PT.html"><img src="assets/imgs/flags/Portugal.png" alt="" class="flag"><span> Português (Portugal)</span></a><br />
                        <a href="ro.html"><img src="assets/imgs/flags/Romania.png" alt="" class="flag"><span> Română</span></a><br />
                        <a href="ru.html"><img src="assets/imgs/flags/Russian_Federation.png" alt="" class="flag"><span> Русский</span></a><br />
                        <a href="sk.html"><img src="assets/imgs/flags/Slovakia.png" alt="" class="flag"><span> Slovenčina</span></a><br />
                        <a href="sl.html"><img src="assets/imgs/flags/Slovenia.png" alt="" class="flag"><span> Slovenščina</span></a><br />
                        <a href="sr.html"><img src="assets/imgs/flags/Serbia(Yugoslavia).png" alt="" class="flag"><span> Српски (ћирилица)</span></a><br />
                        <a href="sv.html"><img src="assets/imgs/flags/Sweden.png" alt="" class="flag"><span> Svenska</span></a><br />
                        <a href="tr.html"><img src="assets/imgs/flags/Turkey.png" alt="" class="flag"><span> Türkçe</span></a><br />
                        <a href="uk.html"><img src="assets/imgs/flags/Ukraine.png" alt="" class="flag"><span> Українська</span></a><br />
                        <a href="vi.html"><img src="assets/imgs/flags/Viet_Nam.png" alt="" class="flag"><span> Tiếng Việt</span></a><br />
                        <a href="zh_CN.html"><img src="assets/imgs/flags/China.png" alt="" class="flag"><span> 简体中文</span></a><br />
                        <a href="zh_HK.html"><img src="assets/imgs/flags/Hong_Kong.png" alt="" class="flag"><span> 繁體中文(香港)</span></a><br />
                        <a href="zh_TW.html"><img src="assets/imgs/flags/Taiwan.png" alt="" class="flag"><span> 繁體中文(台灣)</span></a><br />

                    </div>
                <!--</div>-->
            </nav>
        </div>
    </header>
    
    <style>

        nav
        {
            position: relative;
            overflow: visible;
        }
        #langcontainer
        {
            display: inline-block;
            position: relative;
            overflow: visible;
        }

        #langbutton
        {
            display: inline-block;
            cursor: pointer;
            -webkit-box-shadow: inset 0px 0px 20px -6px rgba(0,0,0,0.71);
            -moz-box-shadow: inset 0px 0px 20px -6px rgba(0,0,0,0.71);
            box-shadow: inset 0px 0px 20px -6px rgba(0,0,0,0.71);
            padding: 0 .7em 0 .7em;
            border-radius: .4em;
            width: 4.5em;
        }

        #langmenu
        {
            font-size: .9em;
            text-align: left;
            width: 0px;
            height: 0px;
            padding: 0em;
            background: #4b5f6d;
            color: #ecf0f1;
            float: right;
            z-index: 10000;
            border-radius: .4em;
            line-height: 1em;
            -webkit-box-shadow: inset 0px 0px 20px -6px rgba(0,0,0,0.71);
            -moz-box-shadow: inset 0px 0px 20px -6px rgba(0,0,0,0.71);
            box-shadow: inset 0px 0px 20px -6px rgba(0,0,0,0.71);
            -webkit-transition: .5s height; /* Safari */
            transition: .5s height;
            overflow: hidden;
            -webkit-column-count: 5; /* Chrome, Safari, Opera */
            -moz-column-count: 5; /* Firefox */
            column-count: 5;
            -webkit-column-gap: .5em; /* Chrome, Safari, Opera */
            -moz-column-gap: .5em; /* Firefox */
            column-gap: .5em;
            -webkit-column-rule: 1px solid lightblue; /* Chrome, Safari, Opera */
            -moz-column-rule: 1px solid lightblue; /* Firefox */
            column-rule: 1px solid lightblue;
        }
        #langbutton:hover + #langmenu, #langmenu:hover
        {
            width: 100%;
            height: 21em;
            padding: 1em;            
        }
        #langmenu a
        {
            display: inline-block;
            margin: 1px;
            padding-top: -3px;
            padding: 1px;
            line-height: -1em;
            color: #ecf0f1;
            width: 95%;
            -webkit-transition: 1s; /* Safari */
            transition: 1s;
            border-radius: 1px;
        }
        #langmenu a:hover
        {
            color: #4a5e61;
            background-color: rgba(255,255,255,.6);
            -webkit-transition: .2s; /* Safari */
            transition: .2s;

        }
        .flag
        {
            height: 1.5em;
            position: relative; 
            top: .4em;
        }
        #langmenu .flag
        {
            top: .1em;
        }
        #langmenu span
        {
            position: relative;
            top: -.3em;
        }

    </style>

    <section class="bck dark padding" id="home">
        <div class="row text center book margin-bottom">
            <img src="./assets/imgs/logo_main.png" alt="Logo" class="margin-bottom">
            <h1 class="color theme text bold center">[[[A New Kind of Instant Messaging]]]</h1>
            <h3 class="text thin center">[[[With the rise of government monitoring programs, qTox provides an easy to use application that allows you to connect with friends and family without anyone else listening in. While other big-name services require you to pay for features, qTox is totally free, and comes without advertising.]]]</h3>
        </div>
        <div class="row text center">
            <div class="column_3 offset_3">
                <a href="https://github.com/tux3/qTox/wiki" class="button large secondary"><span class="fa fa-info-circle">&nbsp;</span>[[[Learn more]]]</a>
            </div>
            <div class="column_3 center">
                <a href="https://github.com/tux3/qTox/blob/master/README.md#qtox" class="button large"><span class="fa fa-download">&nbsp;</span>[[[Download]]]</a><br>
            </div>
        </div>
    </section>

    <section class="bck theme padding"  id="about">
        <div class="row text center book">
            <h1 class="text bold color light">[[[About qTox]]]</h1>
            <h3>[[[Nowadays, every government seems to be interested in what we're saying online. qTox is built on a "privacy goes first" agenda, and we make no compromises. Your safety is our top priority, and there isn't anything in the world that will change that.]]]</h3>
        </div>
    </section>

    <section class="bck light padding" id="features">
        <div class="row text center book margin-bottom">
            <h1 class="text bold">[[[Instant messaging, video conferencing, and more]]]</h1>
        </div>
        <div class="row text center hide-tablet hide-phone">
            <img src="https://i.imgur.com/olb89CN.png" alt="Screenshot" id="screenshot" class="full windows">
        </div>
        <div class="row text center feature1">
            <div class="column_4 margin-bottom">
                <span class="fa fa-comment" style="font-size: 55pt;"></span>
                <h3 class="text bold">[[[Messages]]]</h3>
                <p>[[[At your fingertips.<br> You're always in the loop with instant encrypted messaging.]]]</p>
            </div>
            <div class="column_4 margin-bottom">
                <span class="fa fa-phone" style="font-size: 55pt;"></span>
                <h3 class="text bold">[[[Calls]]]</h3>
                <p>[[[Stay in touch.<br> Make free and secure qTox to qTox calls.]]]</p>
            </div>
            <div class="column_4 margin-bottom">
                <span class="fa fa-users" style="font-size: 55pt;"></span>
                <h3 class="text bold">[[[Video]]]</h3>
                <p>[[[Seeing is believing.<br> Catch up face to face with a secure video call.]]]</p>
            </div>
        </div>
    </section>

    <section class="bck theme padding">
        <div class="row text center book">
            <div class="column_4">
                <span class="fa fa-eye-slash" style="font-size: 115pt;"></span>
                <h3 class="text bold">[[[Security]]]</h3>
                <p>[[[qTox takes your privacy seriously.<br/>With <span class="text bold">leading-class encryption</span>, you can rest assured knowing that the only people reading your messages are the ones you send them to.]]]</p>
            </div>
            <div class="column_4">
                <span class="fa fa-weixin" style="font-size: 115pt;"></span>
                <h3 class="text bold">[[[Ease of Use]]]</h3>
                <p>[[[Unlike other secure messaging solutions, qTox does not require you to be a computer programmer to use it. qTox comes out-of-the-box with an <span class="text bold">easy-to-use</span> interface that allows you to focus on your conversations.]]]</p>
            </div>
            <div class="column_4">
                <span class="fa fa-github-alt" style="font-size: 115pt;"></span>
                <h3 class="text bold">[[[Freedom]]]</h3>
                <p>[[[qTox is both free for you to use, and free for you to change. You are completely free to both use and modify qTox. Furthermore, <span class="text bold">qTox will never harass you with ads, or require you to pay for features</span>.]]]</p>
            </div>
        </div>
    </section>
    <footer>
        <section class="bck dark padding">
            <div class="row margin-top margin-bottom">
                <div class="column_3">
                    <p class="text bold big">[[[Developer Links]]]</p>
                    <!-- &middot; <a href="/blog">[[[Development blog]]]</a><br> -->
                    &middot; <a href="https://tox.chat">[[[About Tox]]]</a><br>
                </div>
                <div class="column_3 offset_5">
                    <p class="text bold big">[[[Need some help?]]]</p>
                    [[[Start your own project and ask us on <span class="text normal">GitHub</span>, or in <a href="https://webchat.freenode.net/#qtox" class="text bold underline color theme">IRC</a>!]]]
                </div>
            </div>
        </section>
        <section class="bck light padding text small">
            <div class="row margin-top margin-bottom">
                {{#languages}}
                <a href="{{{lang_shortcode}}}.html">{{{lang_name}}}</a>{{^last}}&nbsp; &middot; &nbsp;{{/last}}
                {{/languages}}
            </div>
        </section>
    </footer>
</body>
</html>
